<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.SES.mapper.PolicyItemMapper">

    <!-- 动态更新策略条目 -->
    <update id="update" parameterType="com.SES.entity.PolicyItem">
        UPDATE policy_item
        <set>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="modeId != null">
                mode_id = #{modeId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
